body {
    background-image: url(../images/bananas.png);
}
.container {
    background-color: rgba(249, 226, 166, 0.7);
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2rem;
}
#matches-container {
    padding: 0 2rem 0 2rem;
}
.card {
    height: fit-content;
    width: 50%;
    margin-bottom: 2rem;
}
.row {
    margin-top: 1rem;
}
#matches, #users {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#user-body, img {
    width: 100%;
}
#img-body {
    padding: 0;
}
#matches img {
    height: 16rem;
}
form, .form-row, .form-group {
    padding: 1rem;
}
.form-group {
    margin-bottom: 0;
}
.btn {
    background-color: rgba(191, 232, 227, 1);
    border: 0;
}
@media (max-width: 767px){
    .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #match-body {
        width: 50%;
    }
}
@media (max-width: 575px){
    .container {
        width: 90%;
    }
}